.car-controller {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conroller-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.race,
.reset {
    width: 76px;
}

.btn-light {
    padding: 3px 6px 1px;
    background-color: rgb(191, 245, 98);
    border-bottom: solid 3px rgb(179, 158, 115);
    transition: background-color 0.3s, border-bottom-color 0.3s, color 0.3s;
}

.btn-light:not(:disabled):hover {
    background-color: rgb(143, 201, 43);
}
  
.btn-light:not(:disabled):active {
    background-color: rgb(179, 158, 115);
    border-bottom-color: rgb(191, 245, 98);
    color: beige;
}

.btn-dark {
    padding: 3px 6px 1px;
    border-bottom: solid 3px green;
    background-color: rgb(97, 237, 191);
    transition: background-color 0.3s, border-bottom-color 0.3s, color 0.3s;
}
  
.btn-dark:not(:disabled):hover {
    background-color: rgb(67, 202, 157);
}

.btn-dark:not(:disabled):active {
    border-bottom-color: rgb(97, 237, 191);
    background-color: green;
    color: beige;
}

.btn-light:disabled,
.btn-dark:disabled {
    opacity: .6;
}

.garage-title,
.winner-title {
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

.page-count,
.winner-pg-count {
    color: white;
    margin-top: 10px;
}

.car-container__item {
    margin-top: 20px;
    border-bottom: 3px dashed white;
}

.car-settings {
    display: flex;
    gap: 5px;
}

.car-name {
    color: gold;
    margin-left: 15px;
    font-size: 20px;
    font-weight: 300;
}

.car-control {
    display: flex;
    gap: 5px;
}

.control-btn {
    background: transparent;
    border-radius: 4px;
    color: green;
    border: 1px solid green;
    padding: 5px 7px;
    margin: 14px 0;
    transition: border 0.3s, color 0.3s;
}

.btn-a {
    color: green;
    border: 1px solid green;
}

.btn-b {
    color: rgb(211, 62, 62);
    border: 1px solid rgb(211, 62, 62);
}

.control-btn:disabled {
    color: grey;
    border: 1px solid grey;
}

.control-btn:not([disabled]):hover {
    color: lightblue;
    border: 1px solid lightblue;
}

.game-container {
    position: relative;
    display: flex;
    align-items: end;
    gap: 20px;
}

.car-icon {
    width: 120px;
    height: 60px;
}

.finish-icon {
    position: absolute;
    right: 125px;
    width: 40px;
    height: 40px;
    background: url(../assets/icon/finish-icon.png) no-repeat;
    background-size: cover;
}