@import url(./style/header.css);
@import url(./style/main.css);
@import url(./style/footer.css);
@import url(./style/popup.css);
@import url(./style/winner-pg.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(55, 55, 55);
}

.container {
    margin: 10px 0 0 5px;
}

button {
    border-radius: 2px;
    border: none;
    text-transform: uppercase;
}

button:not([disabled]):hover{
    cursor: pointer;
}

input[type="text"] {
    all: unset;
    background-color: white;
    height: 25px;
}

input[type="text"]:disabled {
    background-color: grey;
}